https://lab.karpov.courses/learning/33/module/590/lesson/4750/13877/55280/

In [141]:
import pandas as pd 
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import datetime as dt
import dateutil.relativedelta

### Загрузка данных и их описание

##### Таблица с уникальными идентификаторами пользователей

In [142]:
olist_customers_dataset = pd.read_csv('olist_customers_dataset.csv')
olist_customers_dataset.head()

,customer_id,customer_unique_id,customer_zip_code_prefix,customer_city,customer_state
0,06b8999e2fba1a1fbc88172c00ba8bc7,861eff4711a542e4b93843c6dd7febb0,14409,franca,SP
1,18955e83d337fd6b2def6b18a428ac77,290c77bc529b7ac935b93aa66c333dc3,9790,sao bernardo do campo,SP
2,4e7b3e00288586ebd08712fdd0374a03,060e732b5b29e8181a18229c7b0b2b5e,1151,sao paulo,SP
3,b2b6027bc5c5109e529d4dc6358b12c3,259dac757896d24d7702b9acbbff3f3c,8775,mogi das cruzes,SP
4,4f2d8ab171c80ec8364f7c12e35b23ad,345ecd01c38d18a9036ed96c73b8d066,13056,campinas,SP

In [143]:
# Размер таблицы
olist_customers_dataset.shape

(99441, 5)

customer_id — позаказный идентификатор пользователя (аналог номера паспорта)

customer_unique_id —  уникальный идентификатор пользователя

customer_zip_code_prefix —  почтовый индекс пользователя

customer_city —  город доставки пользователя

customer_state —  штат доставки пользователя

##### Таблица заказов

In [144]:
olist_orders_dataset = pd.read_csv('olist_orders_dataset.csv', parse_dates=[3,4,5,6,7])
olist_orders_dataset.head()

,order_id,customer_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_carrier_date,order_delivered_customer_date,order_estimated_delivery_date
0,e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,delivered,2017-10-02 10:56:33,2017-10-02 11:07:15,2017-10-04 19:55:00,2017-10-10 21:25:13,2017-10-18
1,53cdb2fc8bc7dce0b6741e2150273451,b0830fb4747a6c6d20dea0b8c802d7ef,delivered,2018-07-24 20:41:37,2018-07-26 03:24:27,2018-07-26 14:31:00,2018-08-07 15:27:45,2018-08-13
2,47770eb9100c2d0c44946d9cf07ec65d,41ce2a54c0b03bf3443c3d931a367089,delivered,2018-08-08 08:38:49,2018-08-08 08:55:23,2018-08-08 13:50:00,2018-08-17 18:06:29,2018-09-04
3,949d5b44dbf5de918fe9c16f97b45f8a,f88197465ea7920adcdbec7375364d82,delivered,2017-11-18 19:28:06,2017-11-18 19:45:59,2017-11-22 13:39:59,2017-12-02 00:28:42,2017-12-15
4,ad21c59c0840e6cb83a9ceb5573f8159,8ab97904e6daea8866dbdbc4fb7aad2c,delivered,2018-02-13 21:18:39,2018-02-13 22:20:29,2018-02-14 19:46:34,2018-02-16 18:17:02,2018-02-26

In [145]:
# Размер таблицы
olist_orders_dataset.shape

(99441, 8)

order_id —  уникальный идентификатор заказа (номер чека)

customer_id —  позаказный идентификатор пользователя (аналог номера паспорта)

order_status —  статус заказа

order_purchase_timestamp —  время создания заказа

order_approved_at —  время подтверждения оплаты заказа

order_delivered_carrier_date —  время передачи заказа в логистическую службу

order_delivered_customer_date —  время доставки заказа

order_estimated_delivery_date —  обещанная дата доставки

##### Товарные позиции, входящие в заказы

In [146]:
olist_order_items_dataset = pd.read_csv('olist_order_items_dataset.csv')
olist_order_items_dataset.head()

,order_id,order_item_id,product_id,seller_id,shipping_limit_date,price,freight_value
0,00010242fe8c5a6d1ba2dd792cb16214,1,4244733e06e7ecb4970a6e2683c13e61,48436dade18ac8b2bce089ec2a041202,2017-09-19 09:45:35,58.90,13.29
1,00018f77f2f0320c557190d7a144bdd3,1,e5f2d52b802189ee658865ca93d83a8f,dd7ddc04e1b6c2c614352b383efe2d36,2017-05-03 11:05:13,239.90,19.93
2,000229ec398224ef6ca0657da4fc703e,1,c777355d18b72b67abbeef9df44fd0fd,5b51032eddd242adc84c38acab88f23d,2018-01-18 14:48:30,199.00,17.87
3,00024acbcdf0a6daa1e931b038114c75,1,7634da152a4610f1595efa32f14722fc,9d7a1d34a5052409006425275ba1c2b4,2018-08-15 10:10:18,12.99,12.79
4,00042b26cf59d7ce69dfabb4e55b4fd9,1,ac6c3623068f30de03045865e4e10089,df560393f3a51e74553ab94004ba5c87,2017-02-13 13:57:51,199.90,18.14

In [147]:
# Размер таблицы
olist_order_items_dataset.shape

(112650, 7)

order_id —  уникальный идентификатор заказа (номер чека)

order_item_id —  идентификатор товара внутри одного заказа

product_id —  ид товара (аналог штрихкода)

seller_id — ид производителя товара

shipping_limit_date —  максимальная дата доставки продавцом для передачи заказа партнеру по логистике

price —  цена за единицу товара

freight_value —  вес товара

In [148]:
# Количество пропусков в данных
olist_customers_dataset.isna().sum().sum(),\
olist_orders_dataset.isna().sum().sum(),\
olist_order_items_dataset.isna().sum().sum()

(0, 4908, 0)

In [149]:
# В каких колонках находятся пропуски
olist_orders_dataset.isna().any()

order_id                         False
customer_id                      False
order_status                     False
order_purchase_timestamp         False
order_approved_at                 True
order_delivered_carrier_date      True
order_delivered_customer_date     True
order_estimated_delivery_date    False
dtype: bool

In [150]:
# Количество повторяющихся строк в данных
olist_customers_dataset.duplicated().sum().sum(),\
olist_orders_dataset.duplicated().sum().sum(),\
olist_order_items_dataset.duplicated().sum().sum()

(0, 0, 0)

In [151]:
# Конвертация "дат" в формат датывремени

olist_orders_dataset['order_purchase_timestamp'] = olist_orders_dataset['order_purchase_timestamp']\
                                                                                    .apply(lambda x: pd.to_datetime(x))

olist_orders_dataset['order_approved_at'] = olist_orders_dataset['order_approved_at']\
                                                                                    .apply(lambda x: pd.to_datetime(x))

olist_orders_dataset['order_delivered_carrier_date'] = olist_orders_dataset['order_delivered_carrier_date']\
                                                                                    .apply(lambda x: pd.to_datetime(x))

olist_orders_dataset['order_delivered_customer_date'] = olist_orders_dataset['order_delivered_customer_date']\
                                                                                    .apply(lambda x: pd.to_datetime(x))

### Описательный анализ данных

**Количество пользователей, которые совершили покупку только один раз**


Нужны таблица с заказами `olist_orders_dataset`и таблица с уникальными идентификаторами пользователей `olist_customers_dataset`

Нужные колонки `order_id`, `customer_id`, `order_status`, `customer_unique_id`

In [152]:
olist_orders_dataset['order_status'].unique()

array(['delivered', 'invoiced', 'shipped', 'processing', 'unavailable',
       'canceled', 'created', 'approved'], dtype=object)

Сделаем предположение, что совершенной покупка является, когда имеет статус `delivered`

In [153]:
num_orders = olist_orders_dataset[olist_orders_dataset['order_status'] == 'delivered']\
                .merge(olist_customers_dataset[['customer_id', 'customer_unique_id']], how = 'left', on = 'customer_id')\
                .groupby('customer_unique_id', as_index = False)\
                .agg(orders_num = ('order_id', 'count'))
num_orders.head()

                 customer_unique_id  orders_num
0  0000366f3b9a7992bf8c76cfdf3221e2           1
1  0000b849f77a49e4a4ce2b2a4ca5be3f           1
2  0000f46a3911fa3c0805444483337064           1
3  0000f6ccb0745a6a4b88665a16c9f078           1
4  0004aac84e0df4da2b147fca70cf8255           1

In [154]:
# количество пользователейю совершивших покупку 1 раз
num_orders[num_orders['orders_num'] == 1]['customer_unique_id'].count()

90557

**Среденее количество заказов в месяц, которые не доставляется по разным причинам**

In [155]:
# Приведение колонки с датой заказа в формат даты
olist_orders_dataset['order_purchase_timestamp'] = olist_orders_dataset['order_purchase_timestamp']\
                                                                                    .apply(lambda x: pd.to_datetime(x))

In [156]:
# количество месяцев в датасете
month_num = olist_orders_dataset['order_purchase_timestamp'].apply(lambda x: str(x.month) + '_' + str(x.year)).nunique()
month_num

25

In [157]:
# количество недоставленных заказов (по разным причинам), усреденнное по месяцам
olist_orders_dataset[olist_orders_dataset['order_status']\
                     .isin(['unavailable', 'canceled'])]['order_status']\
                     .value_counts() / month_num

canceled       25.00
unavailable    24.36
Name: order_status, dtype: float64


**Какой товар в какой день недели товар чаще всего покупается**



Нужно к таблице с товарными позициями `olist_order_items_dataset` подтянуть дату `order_approved_at` из таблицы с заказами `olist_orders_dataset`

In [158]:
product_by_date_df = olist_order_items_dataset[['order_id', 'product_id']]\
                        .merge(olist_orders_dataset[['order_id', 'order_approved_at']], how='left', on='order_id')
product_by_date_df.head()

,order_id,product_id,order_approved_at
0,00010242fe8c5a6d1ba2dd792cb16214,4244733e06e7ecb4970a6e2683c13e61,2017-09-13 09:45:35
1,00018f77f2f0320c557190d7a144bdd3,e5f2d52b802189ee658865ca93d83a8f,2017-04-26 11:05:13
2,000229ec398224ef6ca0657da4fc703e,c777355d18b72b67abbeef9df44fd0fd,2018-01-14 14:48:30
3,00024acbcdf0a6daa1e931b038114c75,7634da152a4610f1595efa32f14722fc,2018-08-08 10:10:18
4,00042b26cf59d7ce69dfabb4e55b4fd9,ac6c3623068f30de03045865e4e10089,2017-02-04 14:10:13

In [159]:
product_by_date_df['order_approved_at'] = product_by_date_df['order_approved_at'].apply(lambda x: pd.to_datetime(x))
product_by_date_df['day_of_week'] = product_by_date_df['order_approved_at'].apply(lambda x: x.dayofweek)

In [160]:
product_by_date_df.head()

,order_id,product_id,order_approved_at,day_of_week
0,00010242fe8c5a6d1ba2dd792cb16214,4244733e06e7ecb4970a6e2683c13e61,2017-09-13 09:45:35,2.0
1,00018f77f2f0320c557190d7a144bdd3,e5f2d52b802189ee658865ca93d83a8f,2017-04-26 11:05:13,2.0
2,000229ec398224ef6ca0657da4fc703e,c777355d18b72b67abbeef9df44fd0fd,2018-01-14 14:48:30,6.0
3,00024acbcdf0a6daa1e931b038114c75,7634da152a4610f1595efa32f14722fc,2018-08-08 10:10:18,2.0
4,00042b26cf59d7ce69dfabb4e55b4fd9,ac6c3623068f30de03045865e4e10089,2017-02-04 14:10:13,5.0

In [161]:
product_by_date_df.groupby('product_id')\
.agg(product_num = ('day_of_week', 'value_counts'))\
.groupby(['product_id', 'day_of_week'])\
.max()

                                              product_num
product_id                       day_of_week
00066f42aeeb9f3007548bb9d3f33c38 6.0                    1
00088930e925c41fd95ebfe695fd2655 1.0                    1
0009406fd7479715e4bef61dd91f2462 4.0                    1
000b8f95fcb9e0096488278317764d19 2.0                    1
                                 4.0                    1
...                                                   ...
fff9553ac224cec9d15d49f5a263411f 5.0                    1
fffdb2d0ec8d6a61f0a0a0db3f25b441 1.0                    3
                                 3.0                    1
                                 4.0                    1
fffe9eeff12fcbd74a2f2b007dde0c58 2.0                    1

[61143 rows x 1 columns]

**Среднее количествво покупок у каждового пользователя в неделю (по месяцам)**


Необходимо к таблице с заказами `olist_orders_dataset` (колонки `order_id` - ключ, `customer_id`,	`order_status`,	`order_approved_at `) подтянуть данные из таблицы с товарными позициями `olist_order_items_dataset` (колонки `order_id` - ключ, `order_item_id`), а также подтянуть `customer_unique_id` из таблицы `olist_customers_dataset`

`order_status` - должен быть любой кроме 'invoiced', 'unavailable', 'canceled', 'created' (т.е. только 'твердый' статус)

In [162]:
# отбор нужных колонок из исходных таблиц
from_orders = \
olist_orders_dataset[~olist_orders_dataset['order_status'].isin(['invoiced', 'unavailable', 'canceled', 'created'])]\
[['order_id', 'customer_id', 'order_approved_at']]

from_items = olist_order_items_dataset[['order_id', 'order_item_id']]

from_customers = olist_customers_dataset[['customer_id', 'customer_unique_id']]

In [163]:
# объединение отобранного
orders_items = from_items.merge(from_orders, how='left').merge(from_customers, how='left')
orders_items.head()

,order_id,order_item_id,customer_id,order_approved_at,customer_unique_id
0,00010242fe8c5a6d1ba2dd792cb16214,1,3ce436f183e68e07877b285a838db11a,2017-09-13 09:45:35,871766c5855e863f6eccc05f988b23cb
1,00018f77f2f0320c557190d7a144bdd3,1,f6dd3ec061db4e3987629fe6b26e5cce,2017-04-26 11:05:13,eb28e67c4c0b83846050ddfb8a35d051
2,000229ec398224ef6ca0657da4fc703e,1,6489ae5e4333f3693df5ad4372dab6d3,2018-01-14 14:48:30,3818d81c6709e39d06b2738a8d3a2474
3,00024acbcdf0a6daa1e931b038114c75,1,d4eb9395c8c0431ee92fce09860c5a06,2018-08-08 10:10:18,af861d436cfc08b2c2ddefd0ba074622
4,00042b26cf59d7ce69dfabb4e55b4fd9,1,58dbd0b2d70206bf40e62cd34e84d795,2017-02-04 14:10:13,64b576fb70d441e8f1b2d7d446e483c5

In [164]:
# количество покупок в заказах покупателей
items_per_oder =\
orders_items\
.groupby(['order_id', 'customer_unique_id', 'order_approved_at'], as_index=False)\
.agg(items_per_order_num = ('order_item_id', 'count'))\
.sort_values(by='order_approved_at')

items_per_oder['order_approved_at'] = items_per_oder['order_approved_at'].apply(lambda x: pd.to_datetime(x.date()))

items_per_oder.head()

,order_id,customer_unique_id,order_approved_at,items_per_order_num
73252,bfbd0f9bdef84302105ad712db648a6c,830d5b7aaa3b6f1e9ad63703bec97d23,2016-09-15,3
12190,1ff217aa612f6cd7c4255c9bfe931c8b,14359ea0c7a105749c0a56478825b015,2016-10-04,1
78454,cd3b8574c82b42fc8129f6d502690c3e,87776adb449c551e74c13fc34f036105,2016-10-04,1
90845,ed8c7b1b3eb256c70ce0c74231e1da88,88bc832f104b6dd684a17dbb1b76e778,2016-10-04,1
80365,d207cc272675637bfed0062edffd0818,8d3a54507421dbd2ce0a1d58046826e0,2016-10-04,1

In [165]:
# количество покупок в день пользователей
items_per_day = \
items_per_oder\
.groupby(['customer_unique_id', 'order_approved_at'], as_index=False)\
.agg(items_per_day_num = ('items_per_order_num', 'sum'))

items_per_day.head()

                 customer_unique_id order_approved_at  items_per_day_num
0  0000366f3b9a7992bf8c76cfdf3221e2        2018-05-10                  1
1  0000b849f77a49e4a4ce2b2a4ca5be3f        2018-05-07                  1
2  0000f46a3911fa3c0805444483337064        2017-03-10                  1
3  0000f6ccb0745a6a4b88665a16c9f078        2017-10-12                  1
4  0004aac84e0df4da2b147fca70cf8255        2017-11-14                  1

In [166]:
# начало и конец наблюдений
items_per_day.order_approved_at.min(), items_per_day.order_approved_at.max()

(Timestamp('2016-09-15 00:00:00'), Timestamp('2018-09-03 00:00:00'))

In [167]:
# количество недель во всем интервале наблюдений
n_weeks = (orders_items.order_approved_at.max() - orders_items.order_approved_at.min()).days / 7

In [168]:
# фуннкция, рассчитывающая среднее количество покупок в неделю
def week_avg(X):
    return X.sum() / n_weeks

In [169]:
# Среднее количество покупок каждого покупателя в неделю
avg_items_weekly = items_per_day.groupby('customer_unique_id', as_index=False).agg(avg_week = ('items_per_day_num', week_avg))
avg_items_weekly.sort_values(by='avg_week', ascending=False)

                     customer_unique_id  avg_week
74166  c8460e4251689ba205045f3ea17884a1  0.233983
25688  4546caea018ad8c692964e3382debd19  0.204735
39153  698e1cf81d01a3d389d96145f7fa6df8  0.194986
72586  c402f431464c72e27330a67f7b94d4fb  0.194986
5701   0f5ac8d5c31de21d2f25e24be15bbffb  0.175487
...                                 ...       ...
33567  5a617450496f1cf7f8dcf4e4790e6d4e  0.009749
33566  5a61458586c926813840fbc48a62112f  0.009749
33564  5a5fdc74741b68553a92d2272df59123  0.009749
33563  5a5e7f5f823cff210ff66c41ce412234  0.009749
94673  ffffd2657e2aad2907e67c3e9daecbeb  0.009749

[94674 rows x 2 columns]

### Когортный анализ

Когорта с самым высоким retention на 3-й месяц (в период с января по декабрь)

In [170]:
def cohort_analysys_ret(customer_id, ord_date_col, data, date_start, date_end, coh_step):
    
    '''
    customer_id - колонка с id покупателей (str)
    ord_date_col - колонка с датами заказов (str)
    data - таблица с данными
    date_start - дата начала анализа (str)
    date_end - дата конца анализа (str)
    coh_step - временной шаг, разделяющий когорты, месяцы (int)
    '''
    # перевод дат из строкового формата в формат датывремени
    start_date = pd.to_datetime(date_start)
    end_date = pd.to_datetime(date_end)
    
    # количество месяцев
    months_num = (end_date.year - start_date.year) * 12 + end_date.month - start_date.month
    
    # отбор нужных колонок и перевод даты в формат датывремени
    df = data[[customer_id, ord_date_col]]
    df[ord_date_col] = df[ord_date_col].apply(lambda x: pd.to_datetime(x))
    
    retention = {}
    
    for month in range(0, months_num + 1):
        
        # месяц и год старта когорты
        coh_start_date = start_date + dateutil.relativedelta.relativedelta(months = month)
        coh_start_month = coh_start_date.month
        coh_start_year = coh_start_date.year
        
        # месяц и год окончания наблюдения когорты
        coh_end_date = coh_start_date + dateutil.relativedelta.relativedelta(months = coh_step)
        coh_end_month = coh_end_date.month
        coh_end_year = coh_end_date.year
        
        # множество уникальных пользователей на момент формирования когорты
        uniq_customers_start = set(df[(df[ord_date_col].dt.month == coh_start_month) & \
                                      (df[ord_date_col].dt.year == coh_start_year)]\
                                   [customer_id].tolist())
        
        # множество уникальных пользователей на конец наблюдения когорты
        uniq_customers_end = set(df[(df[ord_date_col].dt.month == coh_end_month) & \
                                    (df[ord_date_col].dt.year == coh_end_year)]\
                                 [customer_id].tolist())
        
        # расчет retention, как доли выживших пользователей к концу наблюдения когорты                
        retention_ = len(uniq_customers_start.intersection(uniq_customers_end)) / len(uniq_customers_start)
        retention[str(month + 1)] = retention_
        
    return retention

Необходимо объединить таблицы с покупателями `olist_customers_dataset` и заказами `olist_orders_dataset` по полю `customer_id`, и далее работать с полями `customer_unique_id` и `order_purchase_timestamp`

In [171]:
data_5 = olist_orders_dataset[['customer_id', 'order_purchase_timestamp']]\
            .merge(olist_customers_dataset[['customer_id', 'customer_unique_id']], how = 'left', on = 'customer_id')

In [172]:
# Временной интервал данных по времени создания заказов
data_5['order_purchase_timestamp'].min(), data_5['order_purchase_timestamp'].max()

(Timestamp('2016-09-04 21:15:19'), Timestamp('2018-10-17 17:30:18'))

Период с января по декабрь приходится только на 2017 год

In [173]:
# Применяем написанную функцию
cohort_analysys_ret(customer_id = 'customer_unique_id', ord_date_col='order_purchase_timestamp', \
                    data = data_5, date_start = '01-01-2017', date_end = '12-01-2017', coh_step = 3)

C:\Users\Alexey\Anaconda3\lib\site-packages\ipykernel_launcher.py:20: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

{'1': 0.00130718954248366,
 '2': 0.0011396011396011395,
 '3': 0.003785011355034065,
 '4': 0.0016863406408094434,
 '5': 0.004413793103448276,
 '6': 0.00440251572327044,
 '7': 0.002786926779832784,
 '8': 0.002826189354686764,
 '9': 0.002849002849002849,
 '10': 0.0010962508221881166,
 '11': 0.0017496635262449528,
 '12': 0.0033910405140103518}

**Итак, наибольший retention на 3й месяц наблюдается для майской когорты.**

In [174]:
olist_customers_dataset['customer_unique_id'].nunique(), olist_orders_dataset['customer_id'].nunique()

(96096, 99441)

*Небольшая доля "выживших" клиентов может объяснятся небольшой разницей в числе уникальных "показанных идентификаторах пользователей" и числе уникальных id пользователей*

### RFM-сегментация

Для каждого кластера будут выведены средние значения метрик R, F, M

In [175]:
# Подготовка данных
# Из трех исходных таблиц берутся только нужные колонки
# Из таблицы с заказами берутся только те заказы, которые имеют "твердый" статус 

from_orders_ = olist_orders_dataset[~olist_orders_dataset['order_status']\
                                    .isin(['invoiced', 'unavailable', 'canceled', 'created'])]\
                                [['order_id', 'customer_id', 'order_purchase_timestamp']]

from_customers_ = olist_customers_dataset[['customer_id', 'customer_unique_id']]

from_items_ =  olist_order_items_dataset[['order_id', 'order_item_id', 'product_id', 'price', 'freight_value']]

In [176]:
# колонка с ценой товара в чеке
from_items_['item_total'] = from_items_['price'] * from_items_['freight_value']

# таблица с общими суммами заказов
total_per_order = from_items_.groupby('order_id', as_index = False).agg(order_value = ('item_total', 'sum'))
total_per_order.head()

C:\Users\Alexey\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

                           order_id  order_value
0  00010242fe8c5a6d1ba2dd792cb16214     782.7810
1  00018f77f2f0320c557190d7a144bdd3    4781.2070
2  000229ec398224ef6ca0657da4fc703e    3556.1300
3  00024acbcdf0a6daa1e931b038114c75     166.1421
4  00042b26cf59d7ce69dfabb4e55b4fd9    3626.1860

In [177]:
# соединение данных в одну таблицу
# уникальный id покупателя, даты заказов, суммы заказов
data_6 = from_orders_.merge(total_per_order, how='left', on='order_id')\
            .merge(from_customers_, how='left', on='customer_id')\
            .drop(['customer_id', 'order_id'], axis = 1)\
            .rename(columns={'order_purchase_timestamp': 'order_date', 'customer_unique_id': 'user_id'})\
            .reindex(columns=['order_date', 'user_id', 'order_value'])\
            .dropna()

data_6['order_date'] = data_6['order_date'].apply(lambda x: x.date())
data_6.head()

   order_date                           user_id  order_value
0  2017-10-02  7c396fd4830fd04220f754e42b4e5bff     261.5128
1  2018-07-24  af07308b275d755c9edb36a90c618231    2701.6120
2  2018-08-08  3a653a41f6f9fc3d2a113cf8398680e8    3073.2780
3  2017-11-18  7c142cf63193a1473d2e66489a9ae977    1224.0000
4  2018-02-13  72632f0f9dd73dfee390c9b22eb56dd6     173.5280

In [178]:
# длительноть временного отрезка всех наблюдений в днях
data_6['order_date'].max() - data_6['order_date'].min()

datetime.timedelta(days=729)

In [179]:
# формирование CSV файла для загрузки в RFMizer
data_6.to_csv('orders.csv', index=None, sep=',', encoding='utf-8')

Параметры для RFMizer:
- количество сегментов для всех показателй - 3
- количество дней от сегодняшней даты для анализа - 30 (месяц)
- количество дней для предсказания - 182 (оно осталось дефолтным)

In [180]:
# Загрузка результатов
RFM_borders = pd.read_csv('RFM-3-3-3-30-182_borders.csv')
RFM_mapping = pd.read_csv('RFM-3-3-3-30-182_mapping.csv')
RFM_ratios = pd.read_csv('RFM-3-3-3-30-182_ratios.csv')

In [181]:
RFM_borders

   dimension  segment    border
0  frequency        1     2.000
1  frequency        2     3.000
2   monetary        1   793.385
3   monetary        2  2239.380
4    recency        1   -23.000
5    recency        2   -16.000

In [182]:
RFM_ratios

    frequency  monetary  recency  bid ratio
0           0         0        0   0.843480
1           1         1        2   1.956245
2           1         1        3   3.234352
3           1         1        1   0.431071
4           1         2        3   2.149574
5           1         2        1   0.437925
6           1         3        3   3.200101
7           1         3        2   1.132156
8           1         3        1   1.518151
9           1         2        2   0.611733
10          3         2        3   0.000000
11          2         3        3  16.906545
12          2         1        1   9.701942
13          2         2        3   1.268536
14          2         2        2   0.000000
15          2         1        2   0.000000
16          2         1        3   2.774102
17          2         3        2   0.000000
18          2         2        1   0.000000

In [183]:
RFM_mapping.head()

                            user_id  frequency  monetary  recency
0  7c396fd4830fd04220f754e42b4e5bff          0         0        0
1  af07308b275d755c9edb36a90c618231          0         0        0
2  3a653a41f6f9fc3d2a113cf8398680e8          1         3        1
3  7c142cf63193a1473d2e66489a9ae977          0         0        0
4  72632f0f9dd73dfee390c9b22eb56dd6          0         0        0

In [184]:
# Присоединяем кластры к ранее полученной таблице
data_6_RFM = data_6.merge(RFM_mapping, how='left')
data_6_RFM.head()

,order_date,user_id,order_value,frequency,monetary,recency
0,2017-10-02,7c396fd4830fd04220f754e42b4e5bff,261.5128,0,0,0
1,2018-07-24,af07308b275d755c9edb36a90c618231,2701.6120,0,0,0
2,2018-08-08,3a653a41f6f9fc3d2a113cf8398680e8,3073.2780,1,3,1
3,2017-11-18,7c142cf63193a1473d2e66489a9ae977,1224.0000,0,0,0
4,2018-02-13,72632f0f9dd73dfee390c9b22eb56dd6,173.5280,0,0,0

In [185]:
# Функция для поиска промежутка времени с даты покупки по конец наблюдений
end_dates = data_6_RFM['order_date'].max()
def mean_rec_func(X):
    return np.mean((end_dates - X).dt.days)

In [186]:
# Среднее время с момента последней покупки
# получается агрегированием по класстерам (в таблице есть отдельные заказы)
# и подсчета по группам средней разницы между датой покупки и датой окончания наблюдений

mean_recency = data_6_RFM.groupby(['frequency','monetary','recency'])\
                         .agg(mean_recency = ('order_date', mean_rec_func))

In [187]:
# Для подсчета монетзации сначала данные группируются по кластерам и покупателям, 
# что позволяет взять сумму по всем заказам каждого покупателя, а затем
# группируются еще раз только по кластерам, что уже позволяет вычислить 
# среднюю выручну с пользователя в разных кластерах

mean_monetary = data_6_RFM.groupby(['user_id', 'frequency','monetary','recency'], as_index=False)\
                          .agg(user_total = ('order_value', 'sum'))\
                          .groupby(['frequency','monetary','recency'])\
                          .agg(mean_monetary = ('user_total', 'mean'))

In [188]:
# функция подсчета среднено временного интервала для каждого покупателя

def freq_func(X):
    return X.sort_values().diff().mean()

In [189]:
# функция для подсчета среднего временного интервала для кластера

def mean_freq_func(X):
    if X.isna().all() == True:
        result = pd.Series(np.full(X.shape[0],), np.inf)
    else:
        result = pd.Series(np.nanmean(X))
    
    return result

In [190]:
# для расчета среднего интерваламежду покупками данные сначала группируются по 
# покупателям и кластерам и вычиляется средение время между покупками для каждого клиента каждого кластера
# затем данные вновь группируются но уже только по кластерам и вычисляется средний временной промежуток 
# между покупками для кластера, как простое среднее (без учета nan и nat)

mean_frequency = data_6_RFM.groupby(['user_id', 'frequency','monetary','recency'], as_index=False)\
                           .agg(user_frequency = ('order_date', freq_func))\
                           .groupby(['frequency','monetary','recency'])\
                           .agg(mean_frequency = ('user_frequency', mean_freq_func))

In [191]:
# объединение метрик в одну таблицу
RFM_metrics = pd.concat([mean_recency, mean_frequency, mean_monetary], axis=1).reset_index()
RFM_metrics

    frequency  monetary  recency  mean_recency   mean_frequency  mean_monetary
0           0         0        0    258.778503              NaT    4228.646042
1           1         1        1     30.952454              NaT     473.370225
2           1         1        2     23.080214              NaT     483.523221
3           1         1        3     18.031153              NaT     493.397463
4           1         2        1     34.102374              NaT    1519.397472
5           1         2        2     28.281016              NaT    1502.190160
6           1         2        3     19.358879              NaT    1401.570626
7           1         3        1     32.806008              NaT   10560.116851
8           1         3        2     24.315625              NaT   13654.379503
9           1         3        3     20.382284              NaT    8796.521904
10          2         1        1     26.500000  3 days 00:00:00    1418.167300
11          2         1        2     20.833333  1 days 16:00:00     809.910367
12          2         1        3     76.600000 81 days 09:00:00    1381.346925
13          2         2        3     17.583333 11 days 12:00:00    2638.449767
14          2         3        1     26.500000  1 days 16:00:00   57143.227500
15          2         3        2     78.250000 54 days 10:40:00   15920.986667
16          2         3        3     13.250000 10 days 00:00:00   15638.801500
17          3         1        3    236.000000 30 days 19:12:00    9215.502400